/*===== GOOGLE FONTS =====*/
/*== Roboto ==*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
/*== Lato ==*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@100;300;400;700;900&display=swap');
/*===== VARIABLES =====*/
:root{
    --header-heigth: 3rem;
}
/*===== Colors =====*/
:root{
    --fakeBlack: #13171b;
    --dimGray: #f8f8f8;
    --fontGray: #939393;
    --niceOrange: #ff8a00; 
}
/*===== Fonts =====*/
:root{
    --body-font: 'Roboto', sans-serif;
    --secondary-font: 'Lato', sans-serif;
    --normal-font-size: 1rem;
}
/*===== Margins =====*/
:root{
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}
/*===== z index =====*/
:root{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
  }
/*===== BASE =====*/ 
*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-heigth) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--fakeBlack);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
/*===== CLASS CSS =====*/
.section{
    padding-top: 5rem;
    padding-bottom: 6rem;
}
/*===== LAYOUT =====*/
.bd-grid{
    max-width: 1024px;
    display: grid;
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
}

/*===== NAV =====*/
.nav{
    height: var(--header-heigth);
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--fakeBlack);
}
.nav div img:nth-child(2){
    display: none;
}
@media screen and (max-width: 768px){
    .nav__menu{
        position: fixed;
        top: calc(var(--header-heigth) + 1.1rem);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--dimGray);
        transition: 0.5s;
    }
}
.nav__item{
    margin-bottom: var(--mb-4);
}
.nav__link{
    position: relative;
    color: var(--fakeBlack);
}
.nav__link:hover{
    position: relative;
}
.nav__link:hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--fakeBlack);
}
.nav__toggle{
    cursor: pointer;
}
/*Active menu*/
.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--fakeBlack);
}
/*=== Show menu ===*/
.show{
    right: 0;
}
/*===== HOME =====*/
.home{
    row-gap: 2rem;
    padding-top: 5rem;
}
.home__image img:first-child{
    padding-bottom: var(--mb-2);
}
.home__image img:last-child{
    width: 100%;
    border-radius: 0 0 0 49px;
}
.home__title{
    margin-bottom: var(--mb-4);
}
.home__title h1{
    padding-left: var(--mb-4);
    font-size: 73px;
    font-weight: 100;
    line-height: 70px;
}
.home__title span{
    font-weight: 500;
    color: var(--niceOrange);
}
.home p{
    padding: 3rem 2rem 0 0;
    font-family: var(--secondary-font);
    font-weight: 300;
    text-align: end;
}
/*===== ABOUT US =====*/
.about{
    display: grid;
    row-gap: 2.5rem;
}
.about__title{
    font-size: 1.5rem;
}
.about__title h2:first-child{
    font-weight: 400;
}
.about__title h2:last-child{
    font-weight: 100;
    line-height: 30px;
}
.about__title h2:last-child > span{
    font-weight: 500;
    color: var(--niceOrange);
}
.about__content{
    row-gap: 2.3rem;
}
.about__content-text{
    display: grid;
    row-gap: 2.3rem;
}
.about__content-text p{
    font-family: var(--secondary-font);
    font-size: 1.3rem;
    color: var(--fontGray);
}

/*===== QUOTE =====*/
.quote__container{
    max-width: 75%;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    background-color: var(--dimGray);
    border-radius: 8px ;
}
.quote__container p:first-child{
    margin-bottom: var(--mb-1);
    font-family: var(--secondary-font);
    font-size: 1.4rem;
    font-weight: 100;
}
.quote__container p:last-child{
    font-size: 1.2rem;
    font-weight: 700;
}

/*===== WORK =====*/
.work__title{
    text-align: center;
    margin-bottom: var(--mb-6);
}
.work__title h3{
    font-size: 1.5rem;
    font-weight: 900;
}
.work__title h2{
    font-size: 2rem;
    font-weight: 100;
}
.work__title h2 > span{
    font-weight: 500;
    color: var(--niceOrange);
}

.work__container{
    row-gap: 3rem;
    font-size: 1.18rem;
}
.work__container article > p:first-child{
    font-family: var(--body-font);
    font-weight: 700;
}
.work__container article > p:last-child{
    font-family: var(--secondary-font);
    font-weight: 300;
}
.work__container article picture > img{
    margin-top: var(--mb-4);
}

/*===== STRATEGIC PARTNERSHIP =====*/
.partnership-text > h2{
    font-size: 3.3rem;
    font-weight: 100;
}
.partnership-text > p{
    font-size: 1.6rem;
    font-weight: 700;
}
.partnership-img{
    margin-top: var(--mb-6);
    /*-shadow-*/
    -webkit-box-shadow: 0px 13px 47px -15px rgba(136,136,136,0.8);
    -moz-box-shadow: 0px 13px 47px -15px rgba(136,136,136,0.8);
    box-shadow: 0px 13px 47px -15px rgba(136,136,136,0.8);   
}
/*===== CLIENTS =====*/
.clients{
    background-color: var(--dimGray);
}
.clients__title{
    text-align: center;
    margin-bottom: var(--mb-6);
}
.clients__title h4{
    font-size: 1.5rem;
    font-weight: 900;
}
.clients__title h3{
    font-size: 2rem;
    font-weight: 100;
}

.clients__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
}
.clients__container picture:last-child{
    grid-column-start: 2;
    grid-column-end: 3;
}
/*===== CONTACT =====*/
.contact__title{
    text-align: center;
    margin-bottom: var(--mb-6);
}
.contact__title h2{
    font-size: 2rem;
    font-weight: 100;
}
.contact__title p{
    font-weight: 700;
}
.contact__container form p{
    margin-bottom: var(--mb-1);
    font-weight: 300;
    color: #CFCFCF;
}
.contact__input{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin-bottom: var(--mb-2);
    border: 1.5px solid #CFCFCF;
    border-radius: 5px;
    outline: none;
}
.contact__text-area{
    width: 100%;
    padding: 0 20px;
    margin-bottom: var(--mb-2);
    border: 1.5px solid #CFCFCF;
    border-radius: 5px;
    outline: none;
}
.contact__button{
    font-size: 1rem;
    width: 100%;
    height: 50px;
    background-color: var(--fakeBlack);
    color: #FFF;
    border-radius: 5px;
}
/*===== FOOTER =====*/
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    padding:2.5rem 0;
    border-top: 1px solid var(--fakeBlack);
}

/*==== MEDIA QUERIES ====*/
@media  screen and (min-width: 768px){
    body{
        margin: 0;
    }
    .section{
        padding-top: 5rem;
        padding-bottom: 6rem;
    }
    /*=== NAV ===*/
    .nav{
        height: calc(var(--header-heigth) + 1.5rem);
    }
    .nav div img:nth-child(1){
        display: none;
    }
    .nav div img:nth-child(2){
        display: block;
    }
    .nav__list{
        display: flex;
        padding-top: 0;
    }
    .nav__item{
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }
    .nav__toggle{
        display: none;
    }

    /*=== HOME ===*/
    .home{
        display: flex;
        justify-content: space-around;
        margin-top: 5rem;
        padding: 8rem 0 2rem;
    }
    .home__title{
        margin: 2.5rem 0;
    }
    .home__title p{
        margin-top: 6rem;
    }

    /*=== About ===*/
    .about__content{
        display: flex;
        align-items: center;
    }
    .about__content-text{
        row-gap: 1rem;
        max-width: 45%;
        margin-left: 3rem;
    }
    /*=== WORK ===*/
    .work__container{
        grid-template-columns: 1fr 1fr ;
        gap: 1.5rem;
    }

    /*===== STRATEGIC PARTNERSHIP =====*/
    .partnership{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .partnership-img{
        max-width: 50%;
    }
    /*=== CONTACT ===*/
    .contact{
        margin: 0 auto;
        max-width: 500px;
    }

    @media screen and (min-width: 1024px){
        .bd-grid{
          margin-left: auto;
          margin-right: auto;
        }
        .quote__container{
            max-width: 40%;      }
}